body {
    background-image: url('photo/WhatsApp\ Image\ 2025-01-12\ at\ 16.30.16.jpeg');
    background-size: cover; /* لتغطية كامل الشاشة */
    background-position: center; /* لتوسيط الصورة */
    background-attachment: fixed; /* لجعل الصورة ثابتة أثناء التمرير */
    h1 {
        font-size: 48px;
        font-weight: bold;
        background: url('photo/WhatsApp\ Image\ 2024-12-13\ at\ 16.11.56.jpeg'); /* وضع مسار الصورة هنا */
        background-clip: text; /* التأكد من أن الصورة تغطي النص */
        -webkit-background-clip: text;
        color: transparent; /* جعل النص شفافًا لكي تظهر الصورة بوضوح */
    }
    p {
        color: white; /* تغيير اللون (اختر اللون الذي تفضله) */
        font-family: 'Arial', sans-serif; /* تغيير نوع الخط */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* إضافة ظل للنص */
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        background: url('photo/plako.jpeg'); /* وضع مسار الصورة هنا */
        background-clip: text; /* التأكد من أن الصورة تغطي النص */
        -webkit-background-clip: text;
        color: transparent; /* جعل النص شفافًا لكي تظهر الصورة بوضوح */
    }
    a {
        color: olive;
    }
}
